{% extends 'base.html' %}

{% block title %} | Auctions {% endblock %}
{% block content %}

{% load humanize %}
{% load static %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Cars for Auction</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Auctions</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->

        <div class="main-title text-center">
            <h1>Our <span>Sealed-Bid Auction</span> Page</h1>
            <h4>Place your bid and hope for the best</h4>
        </div>

        <div class="row">
          {% for car in aucCars %}
            {% if today < car.sell_date %}
            
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car_detail' car.id %}" class="car-img">
                            <div class="tag">{{car.sell_date|timeuntil}} left</div>
                            <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{car.miles | intcomma}} km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{car.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{car.transmission}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{car.car_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{car.car_photo.url}}">
                                        </a>
                                        {% if car.car_photo_1 %}
                                        <a href="{{car.car_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if car.car_photo_2 %}
                                        <a href="{{car.car_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if car.car_photo_3 %}
                                        <a href="{{car.car_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{car.car_photo_3.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- the change that I made below is, I made the whole div clickable (sadly it shows an error in this editor)-->

                    <div 
                        class="detail" 
                        onclick='location.href="{% url 'aucCarDetail' car.id %}";' 
                        style="cursor: pointer;">

                        <h1 class="title">
                            <b>{{car.car_title}}</b>
                            <p style="float: right; text-transform: uppercase;"><b>{{car.body_style}}</b></p>
                        </h1>
                        <div class="location">
                            <p>
                                <i class="flaticon-pin"></i>{{car.state}}, {{car.city}}
                            </p>
                        </div>
                    </div>

                    <div class="footer clearfix">
                        <div class="pull-left days">
                            <p><b>Starting Bid: </b><span class="price">Rs. {{car.price | intcomma}}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
          {% endfor %}

        </div>
    </div>
</div>
<!-- Rent car end -->


{% endblock %}
