{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}
{% block content %}

{% load humanize %}
{% load dashTag %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
  <div class="container breadcrumb-area">
    <div class="breadcrumb-areas">
      <h1>Dashboard</h1>
      <ul class="breadcrumbs">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">{{user.first_name}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub Banner end -->


<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
  {% include 'includes/messages.html' %}
  <div class="main-title" style="text-align:left important;">
    <h1>Welcome <span>{{user.first_name}}</span></h1>
  </div>


  {% if inquiries1 or inquiries2 %}
  {% if inquiries1 %}
  <div class="main-title" style="text-align:left">
    <br><br>
    <h2>{{count1}}  Inquiry for Cars:</h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="font-size: larger; font-style: italic;">
        <th scope="col">Car Name</th>
        <th scope="col">Price</th>
        <th scope="col">Inquiry Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for inquiry in inquiries1 %}
      <tr onclick='location.href="{% url 'car_detail' inquiry.car_id %}";' style="cursor: pointer;">
        <td style="font-weight:bold;">{{inquiry.car_title|upper}}</td>
        <td>Rs. {% carPrice map1 inquiry.car_id %}</td>
        <td>{{inquiry.create_date.date}}</td>
        <td>{% status1 map1 inquiry.car_id %}</td>
        <td style="padding-top: 5px;"><a href="{% url 'delCarInq' inquiry.id %}" class="btn btn-outline-dark" onclick="event.stopPropagation(); return confirm('Are you sure you want to delete this inquiry?');">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if inquiries2 %}
  <div class="main-title" style="text-align:left;">
    <br><br>
    <h2>{{count2}} Auction Bids for Cars:</h2>
  </div>
  <table class="table table-hover">
    <thead>
      <tr style="font-size: larger; font-style: italic;">
        <th scope="col">Car Name</th>
        <th scope="col">Min Bid</th>
        <th scope="col">Your Bid</th>
        <th scope="col">Bid Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for inquiry in inquiries2 %}
      <tr onclick='location.href="{% url 'aucCarDetail' inquiry.car_id %}";' style="cursor: pointer;">
        <td style="font-weight: bold;">{{inquiry.car_title|upper}}</td>
        <td>Rs. {% aucMinBid map2 inquiry.car_id %}</td>
        <td>Rs. {{ inquiry.bid }}</td>
        <td>{{inquiry.create_date.date}}</td>
        <td>{% status2 map2 inquiry.car_id %}</td>
        <td style="padding-top: 5px;"><a href="{% url 'delAucInq' inquiry.id %}" class="btn btn-outline-dark" onclick="event.stopPropagation(); return confirm('Are you sure you want to delete this bid?');">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% else %}
  <div class="main-title" style="text-align:left important;">
    <h1>No actions performed</h1>
  </div>
  {% endif %}

</div>

<!--   Dashboard End   -->

{% endblock %}