{% extends 'base.html' %}

{% block title %} | Your Cars {% endblock %}
{% block content %}

{% load humanize %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Your Cars</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="active">Your Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<div class="container">
    <h1>BODY</h1>
</div>



{% endblock %}